@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: YuGothic,
      "Yu Gothic Medium",
      "Yu Gothic",
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      "Segoe UI",
      "Helvetica Neue",
      HelveticaNeue,
      Verdana,
      Meiryo,
      sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
